{% extends 'SalesIndex.html' %}
{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <thead>
        <th> Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Description</th>
        <th>Action</th>
        </thead>

    </tr>
    <tbody>
    {% for i in leeds %}
    <tr>
        <td>{{i.Name}}</td>
        <td>{{i.Phone}}</td>
        <td>{{i.Description}}</td>
        <td><a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-success">Email</a></td>

    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
